[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "EpiTest"]
	path = EpiTest
	url = https://github.com/cran/EpiTest
	shallow = true
	registered = true
